#meme-text {
  color: white;
  font-size: 30px;
  position: absolute;
  text-shadow: 5px 5px 5px black;
  z-index: 2;
}

#meme-image-container {
  background-color: white;
  border: 1px solid black;
  height: 250px;
  width: 250px;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}

#meme-image {
  height: 250px;
  width: 250px;
}

#thumbnail-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  max-width: 300px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid rgb(237 , 9 , 21);
}
